@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: "Mulish", sans-serif;
}

/* default styled */

* {
    margin: 0px;
}



h3 {
    font-size: 36px;
    text-align: center;
    font-weight: 800;
    line-height: normal;
}

.span {
    color: #FF5400;
}

.container {
    width: 80%;
    margin: 5rem auto;
}


.nav-container {
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
}

.nav-option {
    display: flex;
    gap: 36px;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;

}

.nav-option p {
    cursor: pointer;
    font-size: 18px;
}

/* banner styled  */
.explore-your-travel {
    margin-top: 64px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.8) 0%,
            rgba(19, 19, 24, 0) 100%),
        url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    padding: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explore-your-travel h3 {
    color: #ffffff;
    font-size: 5rem;
    font-weight: 800;
}

.explore-your-travel p {
    color: #c0c0c0;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    padding: 1.5rem 0;
    margin: auto;
    width: 690px;
    text-align: center;
}

.travel-inputs {
    margin-top: 2rem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    padding: 1rem;
    display: flex;
    gap: 28px;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(2px);

}

input,
select
{
    width: 100%;
    padding: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;

}

button {
    width: 100%;
    padding: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    gap: 10px;
    justify-content: center;
    color: #ffffff;
    align-items: center;
    background-color: #FF5400;

}